<div class="card bg-white shadow-lg rounded-lg overflow-hidden p-8 w-full h-auto">
  <div class="card-body">
    <div class="text-xl font-bold mb-6 text-center">
      <%= link_to program.title, program_path(program), class: "text-blue-500 hover:underline" %>
    </div>
    <div class="mb-4 text-center">
      パーソナリティ :
      <%= link_to program.host_name, host_path(program.host_id), class: "text-blue-500 hover:underline" %>
    </div>
    <div class="mb-4 text-center">
      <%= "放送局 : #{program.channel}" %>
    </div>
    <div class="mb-2 text-center">
      <%= "放送日時 : #{program.day_of_week} #{program.start_time.strftime("%H:%M")} 〜 #{program.end_time.strftime("%H:%M")}" %>
    </div>
  </div>
</div>
