<h1 class="font-bold mb-6 text-center" style="font-size: 2.5rem;">番組一覧</h1>

<% if @programs.present? %>
  <%= render @programs %>
<% else %>
  <p class="text-center text-xl mt-6">番組情報はありません</p>
  <div class="text-center mt-4">
    <%= link_to '番組情報作成', new_program_path, class: "btn btn-primary" %>
  </div>
<% end %>
