<!-- パーソナリティ詳細画面 -->
<p>
  <strong>パーソナリティ名:</strong>
  <%= @host.name %>
</p>

<p>
  <strong>番組名:</strong>
  <%= @host.program.present? ? @host.program.name : "番組はありません" %>
</p>

<%= link_to '編集', edit_host_path(@host) %>
<%= link_to '戻る', root_path %>