<div class="card bg-white shadow-lg rounded-lg overflow-hidden p-8">
  <div class="card-body">
    <h1 class="font-bold mb-6 text-center" style="font-size: 2.5rem;">
      <%= @user.name %>
    </h1>
    <div class="mb-2 text-center">
      <%= link_to 'ユーザー名編集', edit_user_path(@user), class: 'btn text-white', style: 'background-color: #34c759; border-color: #34c759;' %>
    </div>
  </div>
</div>